<td>
  {{#link-to 'contract' item.id}}
    <span class="glyphicon glyphicon-zoom-in">{{item.id}}
  {{/link-to}}
</td>
<td class="success" nowrap>{{input type="text" value=item.term size=1 class=input-sm}}</td>
<td class="success" nowrap>{{view Contracting.DatePickerField value=item.startdate}}</td>
<td class="success" nowrap>{{formatDate item.enddate}}</td>
<td class="success" nowrap>{{formatDatetime item.createdAt}}</td>
<td class="success" nowrap>{{formatDatetime item.updatedAt}}</td>