<td>
  {{#link-to 'contractItem' item.id}}
    <span class="glyphicon glyphicon-zoom-in">{{item.position}}
  {{/link-to}}
</td>
<td class="success" nowrap>{{input type="text" value=item.term size=1}}</td>
<td class="success" nowrap>{{view Contracting.DatePickerField value=item.startdate}}</td>
<td class="success" nowrap>{{formatDate item.enddate}}</td>
<td class="info" nowrap>{{input type="text" value=item.productNumber}}</td>
<td class="info" nowrap>{{input type="text" value=item.descriptionDe}}</td>
<td class="info" nowrap>{{input type="text" value=item.descriptionEn}}</td>
<td class="warning" nowrap>
  {{input type="text" value=item.amount size=3}} {{input type="text" value=item.unit size=3}}
</td>
<td class="warning" nowrap>{{input type="text" value=item.marge size=1}}</td>
<td class="info" nowrap>{{input type="text" value=item.volumeBw size=4}}</td>
<td class="info" nowrap>{{input type="text" value=item.volumeColor  size=4}}</td>
<td class="warning" nowrap>{{twoDigits item.price}}</td>
<td class="warning" nowrap>{{twoDigits item.monthlyRate}}</td>
<td class="warning" nowrap>{{input type="text" value=item.monitoringRate size=1}}</td>
<td class="warning" nowrap>{{input type="text" value=item.discountAbs size=3}}</td>
<td class="warning" nowrap>{{twoDigits item.value}}</td>
<td class="warning" nowrap>{{input type="text" value=item.vat size=1}}%</td>
<td class="warning" nowrap>{{twoDigits item.valueInclVat}}</td>
<td class="success" nowrap>{{formatDatetime item.createdAt}}</td>
<td class="success" nowrap>{{formatDatetime item.updatedAt}}</td>