<td>
  {{item.position}}
  <button class="btn btn-danger btn-xs" {{action "deleteConsumable" item}}>
    <span class="glyphicon glyphicon-remove">
  </button>
</td>
<td class="info" nowrap>{{input type="text" value=item.contractType}}</td>
<td class="info" nowrap>{{input type="text" value=item.productNumber}}</td>
<td class="info" nowrap>{{input type="text" value=item.productLine}}</td>
<td class="info" nowrap>{{input type="text" value=item.descriptionDe}}</td>
<td class="info" nowrap>{{input type="text" value=item.descriptionEn}}</td>
<td class="warning" nowrap>{{input type="text" value=item.amount size=1}}</td>
<td class="info" nowrap>{{input type="text" value=item.yield size=5}}</td>
<td class="warning" nowrap>{{input type="text" value=item.wholesalePrice size=10}}</td>
<td class="warning" nowrap>{{twoDigits item.price}}</td>
<td class="warning" nowrap>{{twoDigits item.value}}</td>
<td class="warning" nowrap>{{twoDigits item.monthlyRate}}</td>
<td class="warning" nowrap>{{item.term}}</td>
<td class="warning" nowrap>{{input type="text" value=item.consumption1 size=1}}</td>
<td class="warning" nowrap>{{input type="text" value=item.consumption2 size=1}}</td>
<td class="warning" nowrap>{{input type="text" value=item.consumption3 size=1}}</td>
<td class="warning" nowrap>{{input type="text" value=item.consumption4 size=1}}</td>
<td class="warning" nowrap>{{input type="text" value=item.consumption5 size=1}}</td>
<td class="warning" nowrap>{{input type="text" value=item.consumption6 size=1}}</td>
<td class="success" nowrap>{{twoDigits item.newRate2}}</td>
<td class="success" nowrap>{{twoDigits item.newRate3}}</td>
<td class="success" nowrap>{{twoDigits item.newRate4}}</td>
<td class="success" nowrap>{{twoDigits item.newRate5}}</td>
<td class="success" nowrap>{{twoDigits item.newRate6}}</td>
<td class="warning" nowrap>{{twoDigits item.balance1}}</td>
<td class="warning" nowrap>{{twoDigits item.balance2}}</td>
<td class="warning" nowrap>{{twoDigits item.balance3}}</td>
<td class="warning" nowrap>{{twoDigits item.balance4}}</td>
<td class="warning" nowrap>{{twoDigits item.balance5}}</td>
<td class="warning" nowrap>{{twoDigits item.balance6}}</td>