<h2> Vertragsposition </h2>

<table class="table table-striped table-bordered table-hover table-condensed">
  {{contractitem-thead}}
  <tbody>
    {{contractitem-tableline item=this}}
  </tbody>
</table>

<table class="table table-striped table-bordered table-hover table-condensed">
  {{contractitem-calendarlines item=this}}
  {{consumableitem-thead}}
  <tbody>
    {{#each item in consumableItems}}
      {{view Contracting.ConsumableItemView itemBinding="item"}}
    {{/each}}
  </tbody>
</table>

<div class="btn-group">
  {{#link-to 'contract' this.contract.id class="btn btn-info btn-sm"}}
    <span class="glyphicon glyphicon-zoom-out">
  {{/link-to}}
  {{#link-to 'contract' this.contract.id class="btn btn-info btn-sm"}}
    Vertrag {{this.contract.id}}
  {{/link-to}}
</div>