<h2> Vertrag {{id}} </h2>

<p>
  <button class="btn btn-danger btn-sm" {{action "delete"}}>
    <span class="glyphicon glyphicon-remove" /> Löschen
  </button>

  {{#if isDirty}}
    <button class="btn btn-success btn-sm" {{action "save"}}>
      <span class="glyphicon glyphicon-save" /> Speichern
    </button>
  {{/if}}
</p>

<form class="form-horizontal row" role="form">
  <div class="col-sm-3 form-group">
    <label class="col-sm-6 control-label">Laufzeit (Monate)</label>
    <div class="col-sm-6">{{input type="text" value=term size=1 class=input-sm}}</div>
  </div>
  <div class="col-sm-3 form-group">
    <label class="col-sm-6 control-label">Vertragsbeginn</label>
    <div class="col-sm-6">{{view Contracting.DatePickerField value=startdate}}</div>
  </div>
</form>

{{render 'contractItems' contractItems}}
{{outlet}}