<h2> Vertragsposition </h2>

<table class="table table-striped table-bordered table-hover table-condensed">
  {{contractitem-thead}}
  <tbody>
    {{contractitem-tableline item=this}}
  </tbody>
</table>

<table class="table table-striped table-bordered table-hover table-condensed">
  {{contractitem-calendarlines item=this}}
  {{consumableitem-thead}}
  {{render "consumableItems" this.consumableItems}}
</table>

<button class="btn btn-success btn-sm" {{action "createConsumable"}}>
  <span class="glyphicon glyphicon-plus" /> Verbrauch anlegen
</button>

{{#link-to 'contract' this.contract.id class="btn btn-info btn-sm"}}
  <span class="glyphicon glyphicon-zoom-out" /> Vertrag {{this.contract.id}}
{{/link-to}}
